$body-bg: #f9f9fb;

//Header Color
$light-blue: #748efc;
$dark-blue: #3b4d9a;

//Card
$card-name: #191b2c;
$card-mail: #8a8b8d;

//Shadow Color
$shadow-blue: #748efc80;
$shadow-grey: #00000029;
$shadow-black: #00000008;
$box-shadow: 0px 1rem 2.5rem;
$btn-shadow: 0px 0.5rem 2rem;

//Border Color
$bline-grey: #8599a8;
$bline-light: #d6dce3;
$white: #ffff;

//Footer
$footer-txt: hsl(0, 0%, 40%);
$footer-bg: #040404;

$font: "Roboto", sans-serif;

$border: 1px solid;
$btn-radius: 0.5rem;
$box-radius: 1rem;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px


$gutter: 3rem;
$max-width: 112.5rem;

body {
  background-color: $body-bg;
}
