footer {
  font-size: 1.8rem;
  height: 7.4rem;
  line-height: 7.4rem;
  color: $footer-txt;
  background-color: $footer-bg;
  text-align: center;
  font-weight: 400;
  width: 100%;
  position: relative;
  top: 20rem;
}
