footer {
  font-size: 1.8rem;
  height: 7.4rem;
  line-height: 7.4rem;
  color: $footer-txt;
  background-color: $footer-bg;
  text-align: center;
  font-weight: 400;
  
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
 
}
